extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Criar Restaurante
  form(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='nome') Nome
      .col-md-7
        input.form-control(type='text', name='nome', id='nome', placeholder='Nome', autofocus, autocomplete='nome', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='local') Local
      .col-md-7
        input.form-control(type='text', name='local', id='local', placeholder='Local', autofocus, autocomplete='local', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='foto') Foto em Base64
      .col-md-7
        input.form-control(type='textarea', name='foto', id='foto', placeholder='Foto em Base64', autofocus, autocomplete='foto', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='qtyMesas') Quantidade de Mesas
      .col-md-7
        input.form-control(type='number', name='qtyMesas', id='qtyMesas', placeholder='Quantidade de Mesas', autofocus, autocomplete='qtyMesas', min="1", required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Senha
      .col-md-7
        input.form-control(type='password', name='password', id='password', placeholder='Senha', autocomplete='new-password', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirmar Senha
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirmar Senha', autocomplete='new-password', required)
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-success(type='submit')
        i.fas.fa-user-plus.fa-sm
        | Criar Restaurante
