extends layout

block content
  h1 Cardappio para Restaurantes
  p.lead Deixe seus clientes independentes e seu restaurante eficiente.
  .row
    .col-md-12
      img(src="/cardappio_banner.png" alt="Image Title")
    